

<!DOCTYPE html>
<html>
    <head>
    <link rel="stylesheet" href="{{ asset('css/style_user.css') }}" type="text/css"/>
        <meta charset="UTF-8">
    </head>
    <body>


    <div id="oui">

        {% include 'base.html.twig' %}
        <h1>Nouveau</h1>


        <div class="form-box">
            <input id="boutton" type="submit" value="Créer un nouvel utilisateur" />
            {{ form_end(form) }}
        </div>

        <br>
        <a href="{{ path('user_index') }}">Revenir à la liste</a>
    </div>
    </body>
</html>
{% include 'footer.html.twig' %}
