
<br>
 <table>
 <tr>
 <td>Nom</td><td>Prenom</td><td>Etat</td><td>Creation</td>
 <td>Mise a jour</td><td>Type d'utilisateur</td><td>Site</td>
 </tr>

 <tr *ngFor="let js of valueRetour">
 <td>{{ js.nom }}</td>
 <td>{{ js.prenom }}</td>
 <td>{{ js.actif }}</td>
 <td>{{ js.created.date | date :'d/m/y H:m:s' }}</td>
 <td>{{ js.updated.date | date :'d/m/y H:m:s' }}</td>
 <td>{{ js.typeUser }}</td>
 <td>{{ js.site }}</td>
 </tr>

</table>

 <detailusercles>Utilisateur associé</detailusercles>
  <a routerLink='../../listeuser'>retour</a>
