{% include 'base.html.twig' %}
{% block body %}
    <h1>Type User list</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ typeuser.id }}</td>
            </tr>
            <tr>
                <th>Titre</th>
                <td>{{ typeuser.typeUser }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('typeuser_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('typeuser_edit', { 'id': typeuser.id }) }}">Edit</a>
        </li>
        <li>
        </li>
    </ul>
{% endblock %}
{% include 'footer.html.twig' %}
