{% include 'base.html.twig' %}
{% block body %}
    <h1>Etat</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ etat.id }}</td>
            </tr>
            <tr>
                <th>Titre</th>
                <td>{{ etat.causeArret }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('etat_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('etat_edit', { 'id': etat.id }) }}">Edit</a>
        </li>
        <li>
        </li>
    </ul>
{% endblock %}
{% include 'footer.html.twig' %}
